* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}
.form-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: solid #f0f0f0;
  max-height: 100vh;
  width: 25vw;
  padding: 30px;
  border-radius: 6px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.form-card {
  display: flex;

  width: fit-content;

  /* justify-content: center; */
  flex-direction: column;
  justify-content: center;
}
.logo-section {
  display: flex;
  justify-content: center;
}
.logo-section img {
  width: 65px;
  height: 65px;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: Open Sans, sans-serif;
  color: #444444;
  margin-top: 30px;
  font-weight: 400;
}

.form-input input {
  margin-top: 30px;
  /* padding-left: 10px; */
  width: 300px;
  height: 40px;
 
 
 
}
button {
  background-color: #ff5722;
  border-color: #ff5722;
  color: white;
  width: 300px;
  height: 40px;
  padding-left: 10px 20px;
  margin-top: 30px;
  border-radius: 5px;
}
.forgot-link {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: larger;
  
}
a{
  text-decoration: none;
  color: #9b9b9b;
    
 
}
